<div class="container">
  <div class="row pt-5">
    <div class="col-8">
      <div class="row">
        <div class="col-sm">
          <strong>Message:</strong> 
          <div *ngFor="let mess of this.message">{{mess}}</div>
        </div>
        <div class="col-sm">
          <strong>Behavior Message:</strong>
          <div *ngFor="let mess of this.messageBehavior">{{mess}}</div>
        </div>
        <div class="col-sm">
          <strong>Replay Message:</strong>
        <div *ngFor="let mess of this.messageReplay">{{mess}}</div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <app-sidebar-right></app-sidebar-right>
  </div>
</div>
</div>

